@model RazorCars.Web.Models.InventoryVM

@{
    ViewBag.Title = "RentalHistory";
}

<h2>RentalHistory</h2>


<ul>
    @foreach (var history in Model.Histories)
    {
        <li>@history.RentalDate  @history.ReturnDate @history.Id</li>
    }

</ul>

