@model RazorCars.Web.Models.InventoryVM

@{
    ViewBag.Title = "RentalHistory";
}

<h2>RentalHistory</h2>


<ul>
    @foreach (var history in Model.Histories)
    {
        <li>@history.RentalDate</li>
        <li>@history.ReturnDate</li>
        <li>@Html.ActionLink("View Rentals", "RentalHistory", "Inventories", new { id = history.Id } )</li>
    }

</ul>

