.card-list {
    display: flex;
    width: 100%;
}

.card-list__item {
    width: 100%;
    justify-content: center;
    flex: 1;
}

.make-this-flex{
        display: flex;
    }

.row-card {
    width: 100%;
}



.rental-history {
    margin-top: 50px;
    margin-right: 20px;
}
