@{
    ViewBag.Title = "Home Page";
}

<style>
    .parallax-container {
        height: 75%;
    }

    .parallax h5 {
        display: inline-block;
        color: white;
    }
</style>

<div class="parrallax parallax-container">
    <div class="parallax"><img src=""/></div>
    <h1 class="white-text text-lighten-5">Toy Cars For Rent </h1>
    <h5 clas="white lighten-4 grey-text text-darken-1">The best in toy cars.</h5>
</div>


@* flex box, color: grey *@
<div>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>

    </ul>
</div>


@* flex box, color: white *@
<style>
    .pic {
        width: 600px;
        height: 500px;
    }

    .search-box {
        width: 600px;
        height: 500px;
    }
</style>
<div class="make-this-flex">
    <ul>
        <li class="card-list__item">
            <div class="search-box">
                <h2>Choose your car</h2>
                @Html.Partial("SearchForm")
            </div>
        </li>

        <li class="card-list__item">
            <div>
                <h2>Find a great deal</h2>
                <img />
            </div>
        </li>
    </ul>
</div>

@* footer color dark red *@

<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>