@{
    ViewBag.Title = "Home Page";
}



@*<div class="make-this-flex">
    <ul>
        <li class="card-list__item">
            <div class="search-box">
                <h2>Choose your car</h2>
                @Html.Partial("SearchForm")
            </div>
        </li>

        <li class="card-list__item">
            <div>
                <h2>Find a great deal</h2>
                <img />
            </div>
        </li>
    </ul>
</div>*@



<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>