@{
    ViewBag.Title = "Home Page";
}

<style>
    .parallax-container {
        height: 75%;
    }

    .parallax h5{
        display: inline-block;
        color: white;
    }

</style>

<div class="parrallax parallax-container">
    <div class="parallax"><img src="https://i.ytimg.com/vi/x88swir-yGU/maxresdefault.jpg"></div>
    <h1 class="white-text text-lighten-5">Toy Cars For Rent </h1>
    <h5 clas="white lighten-4 grey-text text-darken-1">The best in toy cars.</h5>
</div>

<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>